.family {
    height: 80%;
    margin-left: 20px;
}

.family2, .Vladimir, .wife{
    width: 200px;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 20px solid palevioletred;
    max-width: 300px;
}

main {
    background-color: pink;
    max-width: 300px;
}

#content {
    max-width: 960px;
    margin: 0 auto;
}