.content {
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #FFAFCC;
}

header h1, h4 {
    text-align: center;}

.words {
    width: 1000px;
    margin-left: 450px;
    margin-right: 400px;
}
header h1, h4 {
    color: white;
}

header h1 {
    font-family: Monaco;

}

.photo {
    display: block;
    height: 250px;
    width: 200px;
    margin-left: 500px;
    margin-right: 500px;

}

footer p {
    text-align: center;
    color: black;
}

p {
    color: white;
}

.qoute {
    display: block;
    font-size: 1.5em;
    margin-left: 500px;
    margin-right: 500px;   
}

header h1:hover {
    color: black;
}